{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Password Change{% endblock title %}

{% block content %}
<div class="container">
  <p>
  <h2>Password change</h2>
  <p>Please enter your old password, for security's sake, and then enter your
  new password twice so we can verify you typed it in correctly.</p>

  <form method="POST" action="{% url 'account_change_password' %}" class="col-md-6 password_change">
    {% csrf_token %}
    {{ form|crispy }}
    <input class="btn btn-success" type="submit" value="Change my password">
    <a class="btn btn-info" href="javascript:window.history.back()">Cancel</a>
  </form>
  </p>
</div>
{% endblock content %}
