{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
  <h1>{{ user.username }}</h1>
  <form class="form-horizontal" method="post" enctype="multipart/form-data" action="{% url 'user_update' %}">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-primary">Update</button>
        <a class="btn btn-info" href="javascript:window.history.back()">Cancel</a>
      </div>
    </div>
  </form>
{% endblock %}
