[flake8]
select = B,B9,BLK,C,E,F,I,S,W
# enable docstring check(D) for future testing
ignore = E203,E501,W503
application-import-names = tests
docstring-convention = google
import-order-style = google
max-complexity = 10
max-line-length = 80
per-file-ignores =
    accounts/tests.py:S101,S106
    accounts/tests/*:S101,S106
    config/tests.py:S101,S106
    config/tests/*:S101,S106
    learning_logs/tests.py:S101,S106
    learning_logs/tests/*:S101,S106
    pages/tests.py:S101,S106
    pages/tests/*:S101,S106
